
/* ------------------- 課程影片介面區塊大小設定 ------------------- */

$course-videoList-width: 500px

// 影片介面內容 container
.course-container
    display: flex
    height: 100vh
    overflow: hidden

    // course-container 加上 active 後，影音列表會隱藏起來
    &.active

        >.course-videoList-container
            right: 0

        >.course-content
            width: $course-content-width

            +respond-to('notebook')
                width: 100%

                &::before
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    background-color: rgba(black, .7)
                    z-index: 50

            >.course-navbar
                width: $course-content-width

                +respond-to('notebook')
                    width: 100%
            

// 內容區塊-左（影片、影片標題）
.course-content
    width: 100%
    overflow-y: scroll
    transition: all .5s

    // 展開導覽列時，黑色遮罩淡出
    &::before
        content: ''
        background-color: rgba(black, 0)
        transition: all .5s